*{
    margin: 0;
    padding: 0;
}
.section1{
    width: 100%;
    height: 100vh;
}
.divgene{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.divgene img{
    width: 50%;
    border-radius: 12px;
}
.divb{
    width: 50%;
    height: 5%;
    display: flex;
    gap: 2rem;
}
.divb button{
    font-family: cursive;
    font-size: 15px;
}